
.logo { 

	padding-left:10%; 
	display : inline-block;
	float: left;
	max-width:30%;
}

.main-title {

	display : inline-block;
	float: left;
	max-width:70%;
	padding-top: 2em;
	padding-left: 100px;
	//position: relative;
	//top: 50%;
	font-size: 3em;
	transform: translateY(-50%);
}


.column-big { 
	
	display : inline-block;
	float: left;
	max-width:69%;
	padding-left: 10%;
}

.column-sidebar { 

	display : inline-block;
	float: right;
	max-width:29%;

}

.round-bubble { 

	background-color: $sunny-lime;
	height : 50px;
	width: 30%;
	border:none;
	border-radius: 25px;
	display: inline-block;
	color: $sunny-brown;
	font-size: 2em;
	text-align : center;
	font-family:'OstrichSansRounded-Medium';
	
}

.round-bubble-button {

	border:none;
	background-color: $sunny-lime;
	height : 90px;
	width: 100%;
	text-align : center;
	border-radius: 25px;
	font-size: 2.5em;
	color: $sunny-brown;
	user-select: none;
	font-family:'OstrichSansRounded-Medium';

}

.basic-text {

	display: inline-block;
}

