* { 

//	border: solid red 1px;
}
.logo { 

	//padding-left:10%; 
	display : inline-block;
	//float: left;
	//max-width:30%;
}

form { 

	text-align:center;
}

.main-title {

	display : block;
	font-size: 2em;
	margin-bottom: 50px;

	@include respond-min($breakpoint-mid) {

		display : inline-block;
		margin-bottom: 50px;

	}
}


.header-container {

	text-align:center;
	background: linear-gradient(top, #07a089 0%,#07a089 60%,#07a089 60%,#312a11 60%,#312a11 70%,#980017 70%,#980017 80%,#f2542a 80%,#f2542a 90%,#c2d14a 90%,#c2d14a 100%);
	width: 100%;

}

.column-big { 
	
	width:100%;

}

.column-sidebar { 

	display : inline-block;
	float: right;
	max-width:29%;

}

.round-bubble { 

	background-color: $sunny-lime;
	height : 50px;
	width: 30%;
	border:none;
	border-radius: 25px;
	display: inline-block;
	color: $sunny-brown;
	font-size: 2em;
	text-align : center;
	font-family:'OstrichSansRounded-Medium';
	margin-left: 8%;
	
}

.round-bubble-button {

	border:none;
	background-color: $sunny-lime;
	height : 90px;
	width: 430px;
	text-align : center;
	border-radius: 25px;
	font-size: 2.5em;
	color: $sunny-brown;
	user-select: none;
	font-family:'OstrichSansRounded-Medium';
	margin:0 auto;

}

.small-button { 

	width: auto;
	font-size: 1.5em;
	height : 70px;
	margin: 0 5px;
	padding: 0 10px;
	
}

.basic-text {

	display: inline-block;
}


#canvas {

	text-align : center;
	border-radius: 25px;
	font-size: 2.5em;
	color: $sunny-brown;
	background-color: $sunny-lime;

}
.resultsDisplay {

	padding : 20px;
	text-align : center;
	
}

.share-btn-container { 
	margin: 0 auto;
	text-align: center;
}

#roadBlock {

	display: none;
	position: fixed;
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	margin: 0 auto;

	&.active { 
		display:block;
	}

}
.roadBlock-info { 

	position: relative;
	margin: 0 auto;
	max-width:50%;
	text-align:center;
	background-color:#000;
	padding: 10px;
  	top: 50%;
 	transform: translateY(-50%);

}
.roadBlock-text {

	color:  $sunny-orange;

}


