

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.logo { 

	display : inline-block;
	padding-top:30px;

}

form { 

	text-align:center;
}

.main-title {

	display : inline-block;
	font-size: 2em;
	transform:	none;
	margin-bottom: 50px;


	@include respond-min(829px) {
		transform:	translateY(-70px);
		font-size: 1.8em;
	}
	@include respond-min($bp-wide) {
		transform:	translateY(-70px);
		padding-rigth:50px;	
		font-size: 2.2em;
	}

}

//$bp-narrow            : 400;  // Set in px
//$bp-mid               : 768;  // Set in px
//$bp-wide              : 992;  // Set in px
//$bp-huge              : 1600; // Set in px

.header-container {

	text-align:center;
	width: 100%;
	position:relative;
}

.gradient-bg { 

	background: linear-gradient(top, #312a11 0%,#312a11 25%,#980017 25%,#980017 50%,#f2542a 50%,#f2542a 75%,#c2d14a 75%,#c2d14a 100%);
	width: 150%;
	height: 60px;
	transform: rotate(-20deg) translateX(-10%);
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	margin-bottom:120px;
	
	@include respond-min($bp-mid) {
		transform: rotate(-10deg) translateX(-10%);
	}
	@include respond-min($bp-wide) {
		transform: rotate(0deg) translateX(-10%);
	}

}

.column-big { 
	
	width:100%;

}

.flavour { 

	margin-top: 5px!important;
	margin-bottom: 5px!important;
	height : 1.25rem;
	color: $sunny-lime!important;
}


.round-bubble { 

	background-color: $sunny-lime;
	height : 50px;
	width: 50%;
	border:none;
	border-radius: 25px;
	display: inline-block;
	color: $sunny-brown;
	font-size: 2em;
	text-align : center;
	min-width: 30px;
	font-family:'OstrichSansRounded-Medium';
	//margin-left: 8%;
	max-width: 200px;

	@include respond-min($bp-wide) {

		width: 30%;
	}
	

}

.round-bubble-button {

	border:none;
	background-color: $sunny-lime;
	height : 90px;
	width: 80%;
	text-align : center;
	border-radius: 25px;
	font-size: 2.5em;
	color: $sunny-brown;
	user-select: none;
	font-family:'OstrichSansRounded-Medium';
	margin-top:20px;
	margin-bottom:30px;
	max-width: 320px;


	@include respond-min($bp-narrow) {
	
		width: 50%;
	}


}

.small-button { 

	width: auto;
	max-width:48%;
	font-size: 1.3em;
	height : 60px;
	padding: 0 20px;


	@include respond-min($bp-mid) {
	}
	@include respond-min($bp-wide) {
	
	}
	
}

.basic-text {

	display: block;
	margin-top: 30px;
	width:100%;

	@include respond-min($bp-mid) {
		display: inline-block;
		margin-top: 20px;
	}
	@include respond-min($bp-wide) {
		margin-top: 10px;
	
	}

}


#canvas {

	text-align : center;
	border-radius: 25px;
	font-size: 2.5em;
	color: $sunny-brown;
	background-color: $sunny-lime;

}
.resultsDisplay {

	text-align : center;
	
}

.share-btn-container { 

	margin: 10px auto;
	text-align: center;
	width: 100%;

}

#roadBlock {

	z-index: 1;
	display: none;
	position: fixed;
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	margin: 0 auto;

	&.active { 
		display:block;
	}

}
.roadBlock-info { 

	position: relative;
	margin: 0 auto;
	max-width:50%;
	text-align:center;
	background-color:#000;
	padding: 10px;
  	top: 50%;
 	transform: translateY(-50%);

}
.roadBlock-text {

	color:  $sunny-orange;

}

.banner-holder-mobile  { 

	text-align : center;
	display : block;
	
	@include respond-min($bp-mid) {
		display: none;
	}
	@include respond-min($bp-wide) {
	
	}
}

.banner-holder-leaderboard .ad-wrapper  .adsbygoogle{ 

	display : none;
	text-align : center;
	
	@include respond-min($bp-mid) {
		display: block;
	}
	@include respond-min($bp-wide) {
	
	}
}
